<!-- <h1>Fact Related to cats</h1>

<div>

    <button (click)="FetchANewFact()">Tell me a new fact</button>
</div>
<div>

    <div *ngIf="loading" class="lds-dual-ring"></div>
    <h1 *ngIf="!loading">{{fact}}</h1>
    <h1 *ngIf="!loading">{{fact}}</h1>

</div>

<i class="fa fa-map-marker"></i> -->

<!-- 
<div>
    <img src="{{userInFormation.userImage}}">
    {{userInFormation.userName}}
</div>
<div>

    <button (click)="FetchANewUser()">Get New User</button>
</div> -->



<input type="text" [(ngModel)]="username">
<br>
<button (click)="PostToServer()">Post</button>

<button class="red">Post</button>

<add-song-form></add-song-form>

<p appBackColorChangeToRed>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nulla culpa blanditiis vel sint perspiciatis! Nisi recusandae, error quaerat alias necessitatibus consequatur animi, illum ex iure esse blanditiis deserunt explicabo?</p>