<!-- <super-tune-header></super-tune-header> -->

<h1>SuperTune - Songs of the week</h1>
<hr>
<sort-button (click)="SortByName()" displayText="Sort by Song Name" otherThing="asdfsaf"></sort-button>
<sort-button (click)="SortByRating()" displayText="Sort by Rating"></sort-button>
<input type="text" placeholder="Search For a song..." (keyup)="OnFilterTextChange($event)">

<hr>
<song-item *ngFor="let song of GetSongs();let i = index" imageurl="{{song.image}}" songname="{{song.name}}"
    rating="{{song.rating}}" (onRatingChange)="SongRatingChange($event,i)"></song-item>

<span *ngFor="let song of songs">{{song.name}} ---- {{song.rating}};;;;;;;</span>

<!-- <sort-button displayText="Sort by Title" otherThing="asdfsaf"></sort-button>
<sort-button displayText="Sort by Artist"></sort-button>
<br>
<br>
<song-item imageurl="https://picsum.photos/200/300" songname="Vibe by Cookiee" rating="4"></song-item>
<song-item imageurl="https://picsum.photos/200/300" songname="Ohter sadf" rating="2"></song-item>
 -->


<!-- <button class="{{fetching?'loading':''}}" (click)="FetchData()"> sadfsadf </button>

 <button ></button>
 <song-item *ngIf="fetching" imageurl="https://picsum.photos/200/300" songname="Ohter sadf" rating="2">

 </song-item> -->



<!-- <div *ngFor="let name of names">


    <span>
        {{name}}
    </span>


</div> -->

<!-- <song-item *ngFor="let name of names" imageurl="https://picsum.photos/200/300" songname="Ohter sadf" rating="2"></song-item> -->



<!-- <add-song-form (onFormAdd)="newSongAdded($event)"></add-song-form>

<hr>

<song-item *ngFor="let song of songs;let i = index" imageurl="{{song.image}}" songname="{{song.name}}"
    rating="{{song.rating}}"></song-item> -->

<!-- 

<div *ngFor="let name of names">
    <span>
        {{name}}
    </span>
</div>  -->


<!-- <common-button text="Output expamp"></common-button> -->

<!-- <rating rating="{{currentRating}}" (onRatingChange)="InputRatingChange($event)"></rating>

<hr>
<input type="number" value="{{currentRating}}" (change)="InputNumberChange($event)" min="1" max="5">

<hr>
<input type="text" value="{{currentRating}}">

<hr>
<span>{{currentRating}}</span> -->

<!-- 
<add-song-form (onFormAdd)="newSongAdded($event)"></add-song-form>

<song-item *ngFor="let song of songs;let i = index" imageurl="{{song.image}}" songname="{{song.name}}"
    rating="{{song.rating}}"></song-item> -->